body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.presupuesto_titulo{
    font-size: 20px;
}

.presupuesto_valor{
    font-size: 35px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.cabecero{ 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    text-align: center;
    background:url(fondo.avif);
    background-size: 100% 100%;
    background-repeat:no-repeat;

}

.presupuesto_ingreso{
    background-color: #28b9b5;
    display: flex;
    height: 50px ;
    width: 350px;

}

.presupuesto_ingreso--texto,.presupuesto_egreso--texto{
    padding-top: 15px;
    padding-left: 15px;
    text-align: left;
    text-transform: uppercase;
    flex-grow: 1;
    flex-basis: 0;

}

.presupuesto_egreso{
    margin-top: 10px;
    background-color: #ff5049;
    display: flex;
    height: 50px ;
    width: 350px;
}

.derecha{
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;
}

.presupuesto_egreso--porcentaje{
    margin-left: 10px;
    padding-left: 5px;
    border: white 1px solid;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.5);
    align-items: center;
}

/**AGREGAR INGRESO O EGRESO**/

.agregar{
    background-color: #f7f7f7;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    text-align: center;
}
.agregar_contenedor{
    padding-top: 20px;
    padding-bottom: 20px;
}

.agregar_descripcion,.agregar_valor{
    top: 0px;
    left: 0px;
    height: 30px;
    width: 100px;
    border: 1px solid #DADCE0;
    border-radius: 5px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    z-index: 1;
}

.agregar_descripcion{
    width: 350px;
}

.agregar_tipo{
    top: 0px;
    left: 0px;
    height: 30px;
    width: 50px;
    border: 1px solid #DADCE0;
    border-radius: 5px;
    font-size: 16px;
    padding: 0 8px;
}

.agregar_btn{
    background-color: transparent;
    border: none;
    color: green;
    cursor: pointer;
    vertical-align: middle;
}

/**LISTADO DE INGRESOS E IGRESOS**/

.contenedor{
    margin-top: 50px;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    text-align: center;
}

.ingreso{
    display: table-row;
    width: 500px;
}

.egreso{
    display: table-row;
    width: 500px;
}


.elemento{
    display: flex;
    justify-content: center;
    align-items: baseline;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding-top: 5px;
    padding-bottom: 5px;
}

.elemento:nth-child(even)
{
background: rgba(211, 211, 211, 0.644);
}
.elemento:nth-child(odd)
{
background:white;
}

.elemento_descripcion{
    color: black;
    text-align: left;
    flex-grow: 1;
    flex-basis: 0;
}

.elemento_eliminar--btn {
    background-color: transparent;
    color: red;
    border: none;
    cursor: pointer;
    flex-grow: 1;
    flex-basis: 0;
}

.ingreso_titulo{
    text-transform: uppercase;
    color:#28b9b5;
    font-weight:normal;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 10px;
}

.elemento_valor_ingreso{
    color: #28b9b5;
    align-self: center;
    flex-grow: 1;
    flex-basis: 0;
}

.egreso_titulo{
    text-transform: uppercase;
    color: #ff5049;
    font-weight:normal;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 10px;
}

.elemento_valor_egreso{
    color: #ff5049;
    align-self: center;
    flex-grow: 1;
    flex-basis: 0;
}

.elemento_porcentaje{
    border: #ff5049 1px solid;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #ff5049;
    background: rgba(255,80,73,0.5);
    align-items: center;
    margin-left: 15px;
    margin-right: 10px;
}
